.form-container {
  width: 55rem;
  height: 28.4rem;
  border-radius: 1.5rem;
  background-color: rgba(112, 249, 224, 0.039);
  backdrop-filter: blur(16.950000762939453px);
  border: 0.5px solid #f1edba;
  padding: 2rem 4rem;
  position: relative;
  z-index: 2;
}
.contact-form-section {
  margin-bottom: 14.4rem;
  position: relative;

  /* overflow-y: hidden; */
}
.contact-form-section h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 5rem;
  margin-top: 12rem;
}

.form {
  margin: auto;
  display: grid;
  grid: 1fr 1fr / repeat (6, 1fr);
  gap: 0.75rem 2rem;
}

.label {
  display: block;
  margin: 10px 0 5px;
  color: white;
}
.label:nth-of-type(1) {
  grid-row: 1;
  grid-column: 1;
}
.label:nth-of-type(2) {
  grid-row: 1;
  grid-column: 2;
}
.label:nth-of-type(3) {
  grid-row: 3;
  grid-column: 1;
}
.label:nth-of-type(4) {
  grid-row: 5;
  grid-column: 1;
}
.label:nth-of-type(5) {
  grid-row: 5;
  grid-column: 2;
}

.input {
  padding: 8px;
  border-radius: 0.5rem;
  background-color: rgba(153, 221, 229, 0.18);
  border: none;
  height: 2.5rem;
  color: #fff;
}
.input:nth-of-type(1) {
  grid-row: 2;
  grid-column: 1;
}
.input:nth-of-type(2) {
  grid-row: 2;
  grid-column: 2;
}
.input:nth-of-type(3) {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
.input:nth-of-type(4) {
  grid-row: 6;
  grid-column: 1;
}
.input:nth-of-type(5) {
  grid-row: 6;
  grid-column: 2;
}

.form-btn {
  border: none;
  cursor: "pointer";
  width: 50%;
  grid-row: 7;
  grid-column: 2;
  justify-self: flex-end;
  background-color: #002c3f;
  color: #f1edba;
  border: 1px solid #f1edba;
  border-radius: 2rem;
  height: 3.5rem;
  display: inline-flex;
  padding: 0.5rem 1rem 0.4375rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Barlow";
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.form-btn:hover {
  background-color: #001720;
  transform: translateY(0.1rem);
}

.contact-backlight-left-1 {
  position: absolute;
  left: -15rem;
  top: -4rem;
  filter: blur(113px);
  transform: rotate(-90.907deg);
  width: 32.75425rem;
  height: 33.97675rem;
}
.contact-backlight-right-1 {
  position: absolute;
  right: -16rem;
  top: -2rem;
  fill: linear-gradient(
    180deg,
    rgba(70, 183, 162, 0.35) 24%,
    rgba(83, 162, 255, 0) 127.3%
  );
  filter: blur(3px);
  width: 67.94563rem;
  height: 67.45419rem;
  fill: #71c3d033;
  opacity: 0.8;
}
.contact-backlight-right-2 {
  position: absolute;
  right: -10rem;
  top: 5rem;
  filter: blur(48px);
  width: 40.94563rem;
  height: 40.45419rem;
  fill: #71c3d033;
}
.contact-backlight-right-3 {
  position: absolute;
  right: -11.5rem;
  top: 18rem;
  width: 30rem;
  height: 39rem;
  fill: rgba(113, 195, 208, 0.2);
  filter: blur(113px);
}
.contact-backlight-right-4 {
  position: absolute;
  right: -25rem;
  top: -3rem;
  width: 41.62119rem;
  height: 38.48844rem;
  filter: blur(100px);
}

@media (max-width: 1300px) {
  .contact-form-section {
    margin-bottom: 9rem;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .contact-form-section h1 {
    font-size: 2rem;
  }
  .contact-form-section {
    width: auto;
    max-width: 33rem;
    margin-inline: auto;
  }
  .form-container {
    width: 33rem;
    height: auto;
    border-radius: 1rem;
    background-color: rgba(112, 249, 224, 0.039);
    backdrop-filter: blur(16.950000762939453px);
    border: 0.5px solid #f1edba;
    padding: 2rem 4rem;
    position: relative;
    margin: 0 auto;
  }
}
@media (max-width: 680px) {
  .contact-form-section {
    margin-bottom: 4.4rem;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .contact-form-section {
    width: auto;
    max-width: 22rem;
  }
  .form-container {
    width: 21rem;
    border-radius: 0.75rem;
    padding: 1rem 2rem;
    margin: 0 auto;
  }
  .form-container button {
    width: 100%;
    font-size: 1.25rem;
    gap: 1.25rem;
  }

  .contact-form-section h1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 6rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
}
