.faqs {
  display: flex;
  gap: 2.8rem;
  position: relative;
}
.faqs-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.faqs-left p {
  width: 21.6rem;
  text-align: left;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
.faqs-left h1 {
  font-size: 3rem;
  font-weight: 600;
}
.faqs-left a {
  color: rgba(0, 145, 164, 1);
  font-size: 1.25rem;
}
.faqs-right {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 50rem;
  /* min-height: 27.7rem; */
  border-radius: 1rem;
  box-shadow: #2ddef31a 1px 1px 1px, #70f9e01a 1px 1px 1px,
    #2ddff300 1px -1px 1px, #2ddff300 1px 1px 1px, #70f9e01a -1px -2px 1px;
  border-radius: 1rem;
  padding: 3rem 1.45rem 3rem 1.2rem;
  background-color: #70f9e010;
  z-index: 2;
}
.faqs-right h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.faqs-right p {
  text-align: left;
  font-size: 1rem;
  width: 44rem;
  margin-top: 1rem;
}
.faqs-right-header {
  width: 45rem;
  display: flex;
  justify-content: space-between;
}
.content {
  margin-bottom: 1.75rem;
}
.fill-animation {
  fill: transparent;
  transition: fill 0.5s ease;
}
.svg-light {
  width: 2rem;
  height: 2rem;
  z-index: 10;
}
.svg-light:hover .fill-animation {
  fill: #eee8a9;
}
.content.open {
  /* max-height: 100px;  */
  animation: open 0.5s linear both;
}
@keyframes open {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.9;
  }
}
.content.closed {
  animation: close 0.5s linear 0.2s both;
}

@keyframes close {
  0% {
    transform: translateX(0);
    opacity: 0.9;
  }

  100% {
    transform: translateX(2rem);
    opacity: 0;
    display: none;
  }
}
@keyframes close2 {
  0% {
    height: 10rem;
  }
  100% {
    height: auto;
  }
}

.faqs-right-content.close {
  animation: close2 0.5s linear forwards;
}

.faqs-light-left-1,
.faqs-light-right-1,
.faqs-light-right-2,
.faqs-light-right-3,
.faqs-light-right-4,
.faqs-light-right-5 {
  position: absolute;
}

.faqs-light-left-1 {
  left: -8rem;
  top: -1.5rem;
  height: 20rem;
  filter: blur(113px);
  opacity: 0.86;
}
.faqs-light-right-1 {
  right: -6rem;
  top: 14.5rem;
  width: 36rem;
  filter: blur(113px);
  opacity: 0.56;
}
.faqs-light-right-2 {
  right: -1rem;
  top: -3rem;
  width: 48rem;
  filter: blur(113px);
  opacity: 0.56;
}
.faqs-light-right-3 {
  right: 20rem;
  bottom: -7rem;
  width: 36rem;
  filter: blur(113px);
  opacity: 0.56;
}
.faqs-light-right-4 {
  right: 23rem;
  bottom: 5rem;
  width: 34rem;
  filter: blur(113px);
  opacity: 0.56;
}
.faqs-light-right-5 {
  left: 23rem;
  top: -2rem;
  height: 16rem;
  filter: blur(113px);
  opacity: 0.8;
}

@media (max-width: 1300px) {
  .faqs {
    flex-direction: column;
  }
  .faqs-right {
    width: auto;
    min-height: auto;
  }
  .faqs-right p {
    text-align: left;
    font-size: 1rem;
    width: 28rem;
    margin-top: 1rem;
  }
  .faqs-right h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .faqs-right-header {
    width: 33rem;
    display: flex;
    justify-content: space-between;
  }
  .faqs-right-header-svg {
    width: 10rem;
  }
  .faqs-left h1 {
    font-size: 2rem;
  }
}

@media (max-width: 680px) {
  .faqs {
    align-items: center;
  }
  .faqs-right {
    width: 21.5rem;
  }
  .faqs-right p {
    font-size: 0.8rem;
    width: 19rem;
    margin-bottom: 1.5rem;
  }
  .faqs-right h1 {
    font-size: 1rem;
    font-weight: 300;
  }

  .faqs-right-header {
    width: 19.5rem;
  }

  .svg-light .fill-animation {
    fill: #eee8a9;
  }
  .svg-light svg {
    display: block;
  }
  .faqs {
    display: flex;
    gap: 1rem;
    position: relative;
  }
  .faqs-left {
    gap: 1rem;
  }
  .faqs-left p {
    text-align: left;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .faqs-left h1 {
    font-size: 1.25rem;
  }
  .faqs-left a {
    color: rgba(0, 145, 164, 1);
    font-size: 1rem;
  }
  .content.closed {
    /* animation: none; */
    display: none;
  }
  .content.open {
    /* animation: none; */
    display: block;
  }
  .content {
    margin-bottom: 0;
  }
  .faqs-light-left-1 {
    left: -8rem;
    top: 29rem;
    height: 34rem;
    filter: blur(113px);
    opacity: 0.86;
  }
  .faqs-light-right-1 {
    right: 3rem;
    top: 14rem;
    width: 17rem;
    filter: blur(113px);
    opacity: 0.56;
  }
  .faqs-light-right-2 {
    right: 0rem;
    top: 23rem;
    width: 24rem;
    filter: blur(113px);
    opacity: 0.56;
  }
}
