.light {
  align-self: baseline;
  position: fixed;
  width: 17.18rem; /* Adjust size for the effect */
  height: 17.18rem;
  background: radial-gradient(
    circle,
    rgba(144, 255, 253, 0.227) 10%,
    /* Bright color with partial opacity near the center */
      rgba(144, 255, 253, 0.193) 30%,
    /* Softer edges */ rgba(144, 255, 253, 0.1) 60%,
    /* Very faint outer edges */ rgba(144, 255, 253, 0) 100%
      /* Fully transparent */
  );
  pointer-events: none; /* Prevents blocking interactions */
  border-radius: 50%; /* Makes the gradient circular */
  transform: translate(
    -50%,
    -60%
  ); /* Centers the gradient around its position */
  z-index: 1; /* Ensures it stays on top of content */
  filter: blur(120px);
  transition: transform 0.05s linear;
}

@media (max-width: 680px) {
  .light {
    display: none;
  }
}
