.services-page-container {
  margin: 0 auto;
  color: #fff;
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------ SERVICES OFFER ------ */

.services-offer {
  max-width: 75.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 15.8rem;
}
.services-offer h1 {
  font-size: 3.8rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.services-offer-slider {
  width: 90rem;
  height: 28rem;
  overflow-y: hidden;
  transition: all 1s;
  mask-image: linear-gradient(
    to right,
    transparent,
    #ffffff 10% 90%,
    transparent
  );
  z-index: 2;
}

.services-offer-slider .card {
  position: absolute;
  right: 100%;
  height: 28rem;
  width: 16rem;
  border-radius: 1.5rem;
  transition: all 1s;
  overflow: hidden;
  z-index: 2;
  animation: autoslide 12s linear infinite;
  animation-delay: calc(2s * (var(--position) - 6));
}

.services-offer-slider .card img {
  height: 28rem;
  width: 16rem;
  object-fit: cover;
  transition: all 1s;
}

.services-offer-slider .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: linear-gradient(to top, #02242831, #2ddef31a);
  border-radius: 1.5rem;
}
.services-offer-slider .card p {
  width: 100%;
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  bottom: 1.25rem;
  left: 1.5rem;
}
.services-offer-slider:hover img {
  filter: grayscale(100);
  transition: all 0.8s;
}
.services-offer-slider:hover .overlay {
  filter: grayscale(100);
  transition: all 0.8s;
}
.services-offer-slider:hover .card {
  animation-play-state: paused;
}

.services-offer-slider .card:hover img {
  filter: grayscale(0);
  transition: all 0.8s;
}

@keyframes autoslide {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(134rem);
  }
}

/* ------ SERVICES DESIGN ------ */

.services-design {
  max-width: 75.25rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.services-design h1 {
  font-size: 3.05188rem;
  font-weight: 700;
}

.services-design .cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}

.services-light1 {
  width: 38rem;
  position: absolute;
  left: 10rem;
  top: 11rem;
  z-index: -1;
  filter: blur(113px);
}

.services-design .card {
  display: flex;
  align-items: flex-end;
  gap: 8rem;
  padding: 2.5rem;
  width: 100%;
  height: 26rem;
  border-radius: 1rem;
  background: rgba(112, 249, 224, 0.1);
  backdrop-filter: blur(10.449999809265137px);
}

.services-design .card img {
  width: 36.875rem;
  height: 21.5625rem;
  border-radius: 1rem;
  object-fit: cover;
}

.services-design .card-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.services-design .card-content h1 {
  font-size: 1.95rem;
  font-weight: 600;
}
.services-design .card-content span {
  color: #eee8a9;
  margin-right: 1rem;
}
.services-design .card-content p {
  width: 25rem;
  font-size: 1rem;
  font-weight: 400;
}

/* ------ SERVICES GALLERY ------ */

.services-gallery {
  margin-top: 12rem;
  margin-bottom: 9rem;
}
.services-gallery .header {
  max-width: 75.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  margin-inline: auto;
}
.services-gallery .header h1 {
  font-size: 3rem;
  font-weight: 700;
}

.sliders-container {
  width: 75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 0;
  background-color: #70f9e01a;
  overflow: hidden;
  border-radius: 1rem;
}

.sliders-container .slider {
  gap: 1.5rem;
  height: 17.8rem;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    #ffffff 10% 90%,
    transparent
  );
}
.sliders-container .card {
  width: 33rem;
  height: 17.8rem;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 100%;
  animation: autoslide2 9s linear infinite;
  animation-delay: calc(3s * (var(--position) - 6));
}

.sliders-container .slider:nth-of-type(2) .card {
  width: 33rem;
  height: 17.8rem;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 100%;
  animation: autoslide3 12s linear infinite;
  animation-delay: calc(4s * (var(--position) - 5));
}

.sliders-container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transform: scaleX(-1);
}

.sliders-container .slider:nth-of-type(2) .card:nth-of-type(1) img {
  width: 50%;
  transform: translateX(109%);
}
.sliders-container .slider:nth-of-type(2) .card:nth-of-type(4) img {
  width: 50%;
}
.sliders-container .slider:hover .card {
  animation-play-state: paused;
}

.sliders-container .overlay {
  border-radius: 1rem;
  background-color: rgba(12, 49, 42, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding: 1.5rem;
  transition: all 0.5s ease-in;
}
.sliders-container .card .overlay {
  transform: translateY(6rem);
}
.sliders-container .card:hover .overlay {
  transform: translateY(0);
}
.sliders-container .overlay p {
  width: 14rem;
  font-size: 1.25rem;
}
.btn-component2 {
  background-color: transparent;
  color: #f1edba;
  border: 1px solid #f1edba;
  border-radius: 2rem;
  height: 3.5rem;
  display: inline-flex;
  padding: 0.5rem 1rem 0.4375rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: "Barlow";
  cursor: pointer;
}

.btn-component2 img {
  transform: rotateX(180deg) !important;
}
@keyframes autoslide2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(108rem);
  }
}

@keyframes autoslide3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-108rem);
  }
}

/* ------ SERVICES BENEFITS ------ */

.services-benefits {
  width: 100%;
  margin-bottom: 13rem;
  max-width: 75.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-benefits h1 {
  font-size: 3rem;
}
.services-benefits .cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 15rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.services-benefits .cards img {
  position: absolute;
  top: -2rem;
}
.services-benefits .cards div {
  height: 15rem;
  width: 15rem;
  border: 1px #eee8a9 solid;
  padding: 6.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.services-benefits .cards div:nth-of-type(1) {
  left: 4%;
}
.services-benefits .cards div:nth-of-type(2) {
  left: 21%;
}
.services-benefits .cards div:nth-of-type(3) {
  left: 50%;
  height: 18rem;
  width: 18rem;
  transform: translate(-50%);
}
.services-benefits .cards div:nth-of-type(3)::before {
  content: "";
  height: 16rem;
  width: 16rem;
  position: absolute;
  left: 0.9rem;
  border-radius: 50%;
  background-color: rgba(112, 249, 224, 0.1);
  backdrop-filter: blur(10.449999809265137px);
  border: 1px solid #005f72;
  z-index: 1;
}
.services-benefits .cards div:nth-of-type(4) {
  right: 21%;
  z-index: -1;
}
.services-benefits .cards div:nth-of-type(5) {
  right: 4%;
}
.services-benefits h2 {
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 2;
}
.services-benefits P {
  width: 50rem;
  font-size: 1.25rem;
  text-align: center;
}
@media (max-width: 1000px) {
  .services-benefits h1 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .services-benefits .cards div {
    height: 7rem;
    width: 7rem;
    padding: 1rem;
  }
  .services-benefits .cards {
    height: 35rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .services-benefits .cards h2 {
    font-size: 1rem;
  }
  .services-benefits .cards div:nth-of-type(1) {
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
  }
  .services-benefits .cards div:nth-of-type(2) {
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .services-benefits .cards div:nth-of-type(3) {
    top: 50%;
    left: 50%;
    height: 9rem;
    width: 9rem;
    transform: translate(-50%, -50%);
  }
  .services-benefits .cards div:nth-of-type(3)::before {
    height: 8rem;
    width: 8rem;
    left: 0.4rem;
  }
  .services-benefits .cards div:nth-of-type(4) {
    bottom: 21%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .services-benefits .cards div:nth-of-type(5) {
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
  }
  .services-benefits .cards img {
    display: none;
  }
  .services-benefits P {
    width: 20.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
  }
}
